.none {
  display: none;
}

.cross, .zero {
    font-size: xx-large;
    font-family: sans-serif;
}

.winner {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    height: 20px;
}

.restart {
    border: solid 3px black;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
}

.restart:hover {
    cursor: pointer;
    background-color: rgb(200, 196, 196);
}

.tile {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}

.tile:hover {
    cursor: pointer;
    background-color: rgb(205, 200, 200);
}

.field {
    height: 308px;
    width: 308px;
    border: 8px solid black;
    margin-top: 10px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    border-style: double;
}