- name: Install gpg
  apt:
    name: gnupg
    update_cache: yes
    state: present

- name: Install gpg key for nodejs repository
  apt_key:
    url: "https://deb.nodesource.com/gpgkey/nodesource.gpg.key"
    state: present

- name: Install nodejs repository
  apt_repository:
    repo: "deb https://deb.nodesource.com/node_{{ node_version }}.x {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes

- name: Install nodejs
  apt:
    name: nodejs
    state: latest

- name: Copy source dir
  copy:
    src: {{ app_path }}
    dest: /home/admin/app/

- name: Make install.sh executable
  file:
    path: /home/admin/app/install.sh
    mode: "777"


- name: Make run.sh executable
  file:
    path: /home/admin/app/run.sh
    mode: "777"

- name: Install dependencies
  shell: "/home/admin/app/install.sh"

- name: Run app
  shell: "/home/admin/app/run.sh {{ web_port }}"
  
